extends layout

block content
    div(class="row")
        div(class="col-md-6 col-md-offset-3" style="margin-bottom: 10px;")
            div(class="row")
                logo
                div(class="col-xs-6")
                    h3
                        breadcrumbs
                div(class="col-xs-4 text-right")
                    logout-box
    div(ui-view)
