doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    script(src="/javascripts/external/jquery.js")
    script(src="/javascripts/external/bootstrap.min.js")
    script(src="/javascripts/main.js")
  body(ng-app="videoCatalog")
    div(class="container-fluid")
      block content
