<ol ng-if="$ctrl.loginStatus.login" class="breadcrumb">
    <li ng-class="{'active': !$ctrl.currentCourse._id}">
        <a ui-sref="courses()">Courses</a>
    </li>
    <li class="active">{{$ctrl.currentCourse.title}}</li>
</ol>