<div class="row">
    <div ng-show="$ctrl.message" class="col-md-3 col-md-offset-4 alert alert-warning text-center" role="alert">
        <b>{{$ctrl.message}}</b>
    </div>
</div>
<div class="row">
    <form class="col-md-6 col-md-offset-4 form-horizontal" ng-submit="$ctrl.logIn();" name="loginForm">
        <div class="form-group" ng-class="{'has-error': loginForm.login.$error.pattern || (loginForm.login.$error.required && loginForm.login.$touched)}">
            <label for="login" class="col-sm-2 control-label">Login</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" name="login" id="login" ng-model="$ctrl.login" required ng-pattern="/^[a-zA-Z]+$/" ng-model-options="{ updateOn: 'blur'}">
            </div>
            <span class="col-xs-3 help-block" ng-show="loginForm.login.$error.pattern">Invalid character set</span>
            <span class="col-xs-3 help-block" ng-show="loginForm.login.$error.required && loginForm.login.$touched">Enter login</span>
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.password.$error.pattern || (loginForm.password.$error.required && loginForm.password.$touched)}">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="password" name="password" ng-model="$ctrl.password" required ng-pattern="/^[a-zA-Z\d]+$/" ng-model-options="{ updateOn: 'blur'}">
            </div>
            <span class="col-xs-3 help-block" ng-show="loginForm.password.$error.pattern">Invalid character set</span>
            <span class="col-xs-3 help-block" ng-show="loginForm.password.$error.required && loginForm.password.$touched">Enter password</span>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-8">
                <button ng-disabled="loginForm.$invalid" class="btn btn-primary col-xs-6" type="submit">Enter</button>
            </div>
        </div>
    </form>
</div>