<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    {{text}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-if="yesButton" type="button" ng-click="$close()">{{yesButton}}</button>
    <button class="btn btn-warning" ng-if="noButton" type="button" ng-click="$dismiss()">{{noButton}}</button>
</div>