<div class="row">
    <form class="col-md-6 col-md-offset-3 form-horizontal" ng-submit="$ctrl.save();" name="course">
        <div class="form-group">
            <label for="title" class="col-xs-3 control-label">Title</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" required name="title" id="title" ng-model="$ctrl.course.title">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-xs-3 control-label">Description</label>
            <div class="col-xs-8">
                <textarea required name="description" class="col-xs-10 form-control" rows="4" id="description" ng-model="$ctrl.course.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-xs-3 control-label">Date</label>
            <div class="col-xs-2">
                <date-pattern ng-model="$ctrl.course.date" mask="dd.dd.dddd" delimiter="."></date-pattern>
            </div>
        </div>
        <div class="form-group">
            <label for="duration" class="col-xs-3 control-label">Duration</label>
            <div class="col-xs-1">
                <input type="text" required name="duration" class="form-control" id="duration" ng-model="$ctrl.course.duration" ng-keydown="$ctrl.filterDigits($event)">
            </div>
            <div class="col-sx-4" style="margin-top: 5px;" duration="{{$ctrl.course.duration}}"></div>
        </div>
        <div class="form-group">
            <label for="authors" class="col-xs-3 control-label">Authors</label>
            <div class="col-xs-8">
                <select multiple ng-model="$ctrl.selectedAuthor" class="col-xs-3" ng-options="author.name for author in $ctrl.authorsList track by author.id"></select>
                <div class="col-xs-1">
                    <button type="button" style="margin-bottom: 15px;" ng-click="$ctrl.addAuthor()"> &gt; </button>
                    <button type="button" ng-click="$ctrl.removeAuthor()"> &lt; </button>
                </div>
                <select multiple ng-model="$ctrl.authors" id="authors" class="col-xs-3" ng-options="author.name for author in $ctrl.authorsSelectedList track by author.id"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success col-xs-3" style="margin-right: 10px;">Save</button>
                <button type="button" class="btn btn-warning col-xs-3" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </div>
        <input type="hidden" name="id" ng-model="$ctrl.course._id">
    </form>
</div>