<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-6 form-inline">
            <div class="row form-group pull-left">
                <input type="text" name="search" class="form-control" placeholder="Search" ng-model="$ctrl.filter">
            </div>
            <button type="button" ng-click="$ctrl.applyFilter();" class="btn btn-info col-md-4">Search</button>
        </div>
        <div class="col-md-3 col-md-offset-3 text-right">
            <button type="button" ng-click="$ctrl.addCourse();" class="btn btn-success col-md-12 col-md-offset-1">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add course
            </button>
        </div>
    </div>
</div>


<ul class="col-md-6 col-md-offset-3">
    <li class="well row" ng-repeat="course in $ctrl.courses|filter:{title: $ctrl.courseFilter}">
        <div class="row">
            <div class="col-xs-3"><h3>{{course.title}}</h3></div>
            <div class="col-xs-3" duration="{{course.duration}}"></div>
            <div class="col-xs-3"><h4>{{course.date}}</h4></div>
            <div class="col-xs-3">
                <a ui-sref="courseNew({id: course._id})" class="btn btn-info col-md-8 col-md-offset-4">Edit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">{{course.description}}</div>
            <div class="col-xs-3">
                <button ng-click="$ctrl.removeCourse(course._id)" class="btn btn-danger col-md-8 col-md-offset-4">Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">{{course.authors|authorsName}}</div>
        </div>
    </li>
    <li ng-if="!$ctrl.courses.length">No courses yet</li>
</ul>
